*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.riga:after, .tabellone:after{
  content:"";
  display:table;
  clear:both;
}
.quadrato, .quadrato1{
  width: 80px;
  height: 80px;
  border: 1px solid black;
  float: left;
}
.green, .puntiVer{
  background-color: green;
}
.red, .puntiRos{
  background-color: red;
}
.tabellone{
  width: 200px;
  height: 100px;
}
.puntiVer, .puntiRos{
  width: 100px;
  height: 100px;
  float: left;
  border: 2px solid yellow;
}
.puntiVer p, .puntiRos p{
  font-size: 40px;
  color: white;
  font-weight:bold;
  text-align: center;
  line-height: 100px;
}
